@font-face {
    font-display: swap; 
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
 }
  
html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

:root {
    --yellow: #F4D04E;
    --gray-950: #111;
    --gray-500: #6B6B6B;
    --white: #fff;
}

body {
    background-color: var(--yellow);
}

.blog-card {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white);
    max-width: 24rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0.6rem 0.6rem;
    transition: box-shadow 0.3s ease;
    margin: 1.25rem;
    border: 0.09375rem solid black;
}

.blog-card__main-banner {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 0.625rem;
	margin-bottom: 1.5rem;
}


.blog-card__topic{
    align-self: self-start;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    line-height: 150%;
    letter-spacing: 0;
    color: var(--gray-950);
    padding: 0.25rem 0.75rem;
    background-color: var(--yellow);
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

small {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 0.770625rem;
    font-size: clamp(0.770625rem, 0.758125rem + 0.0625vw, 0.833125rem);
    color: var(--gray-950);
    margin-bottom: 0.75rem;
    line-height: 150%;
    letter-spacing: 0;
}

h2 {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 1.26rem + 0.19999999999999996vw, 1.5rem);
    color: var(--gray-950);
    margin-bottom: 0.75rem;
    line-height: 150%;
    letter-spacing: 0;
    transition: color 0.3s ease;
}

h2 a {
    color: inherit;
}

.blog-card h2 + p {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    color: var(--gray-500);
    line-height: 150%;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.blog-card__author-info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    
}
.blog-card__avatar {
    max-width: 100%;
    display: block;
    width: 2rem;
    height: 2rem;
}

.blog-card__author {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0;
    margin-left:0.75rem;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 ;
    min-height: calc(100vh - 20vh);
}

.blog-card:hover {
    box-shadow: 1rem 1rem;
}

.blog-card:hover h2 {
    color: var(--yellow);
}

.attribution { 
	font-size: 1rem; 
	text-align: center;
	padding: 0.5rem;
    margin-top: 2rem;
 }
.attribution a { 
	color: hsl(233, 82%, 53%);
 }